.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
   padding: 0 108px;
    
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    justify-content: space-between;
    column-gap: 120px;
  }
}
.footer {
  padding: 96px 0;
  background: #2e2f42;
}
@media only screen and (min-width: 1158px) {
  .footer {
   padding: 100px;
  }
}


.footer-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 288px;
  max-width: 288px;
  position: relative;
 
}
@media only screen and (min-width: 768px) {
  .footer-left {
   
    align-items: flex-start;
    width: 264px;
    max-width: 264px;
  }
}


.contacts-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fdf4f4;
}


.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .social-footer {  
     align-items: flex-start;
  }
}
.social-media {
  display: flex;
  gap: 16px;
}

.social-footer-icon {
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: #f4f4fd;
  background: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-footer-icon-svg {
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    align-items: flex-start;
    
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form  {
    max-width: 469px;
    width: 100%;
  }
}

.footer-form-input {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
   width: 264px;
   height: 40px;
  }
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}
@media only screen and (min-width: 768px) {
  .subscribe-footer {
    flex-direction: row;
    flex-wrap: wrap;

  }
}
.btn.footer-btn {
  display: flex;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  gap: 16px;
  max-width: 165px;
  color: #fff;
  background: #4d5ae5;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-form-input:focus {
  border: 1px solid #31d0aa;
}
.footer-form-input::placeholder {
  color: #fff;
}
